@import 'utils';
@import 'base/normalize.css';
@import 'base/typography';
@import 'base/table';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: $darkBlue;
  padding-top: $navHeight;

  @include mediaFrom($desktop) {
    padding-top: $navHeightDesktop;
  }
}

.main {
  max-width: $maxContent;
  margin: 0 auto;
  padding-left: $offset;
  padding-right: $offset;
  min-height: 78vh;

  @include mediaFrom($tablet) {
    padding-left: $offsetTablet;
    padding-right: $offsetTablet;
  }
}

a {
  color: inherit;
}

*:focus {
  /* Provide a fallback style for browsers
     that don't support :focus-visible */
  outline-color: $focusColor;
}

*:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
     that do support :focus-visible */
  outline: none;
}

*:focus-visible {
  /* Draw a very noticeable focus style for
     keyboard-focus on browsers that do support
     :focus-visible */
  outline-color: $focusColor;
}

.sr-only {
  @include sr-only;
}

.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}

.pageImage {
  max-width: $maxContent;
  margin: 10px auto;
}

.pageSection {
  margin-top: 50px;
}