@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
@mixin defaultHover {
  transition: ease-in 0.4s opacity;

  &:hover {
    opacity: 0.8;
  }
}

@mixin addSkewEffect($height: 24px, $color: $beige) {
  background: $color;
  line-height: $height;
  position: relative;
  z-index: 1;

  &:before,
  &:after {
    content: '';
    display: block;
    background: $color;
    width: 20px;
    height: $height;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  &:before {
    left: 0;
    transform: skewX(-30deg) translateX(-50%);
  }

  &:after {
    right: 0;
    transform: skewX(-30deg) translateX(50%);
  }
}
