$darkBlue: #1d2747;
$beige: #e7dab1;
$white: #ffffff;
$grey: #a9a9a9;
$focusColor: #3f68ea;

$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1200px;

$maxContent: 1240px;
$maxContentNarrow: 860px;
$maxContentImage: 1000px;

$navHeight: 55px;
$navHeightDesktop: 101px;

$offset: 15px;
$offsetTablet: 25px;

$zIndexNav: 2;
