$darkBlue: #1d2747;
$beige: #e7dab1;
$white: #ffffff;

$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1200px;

$maxContent: 1240px;
$maxContentNarrow: 860px;

$navHeight: 55px;
$navHeightDesktop: 101px;

$offset: 15px;
$offsetTablet: 25px;

$zIndexNav: 2;
