.table {
  border: 1px solid $beige;
  font-size: 12px;
  // background-color: transparentize($color: $beige, $amount: 0.8);
  background-color: $white;

  @include mediaFrom($tablet) {
    font-size: 14px;
  }

  .table-row {
    display: flex;
    border-bottom: 1px solid $beige;

    &:last-of-type {
      border-bottom: 0;
    }
  }

  .table-cell {
    padding: 15px 7px;
    border-right: 1px solid $beige;

    &:last-of-type {
      border-right: 0;
    }
  }

  .label {
    text-transform: uppercase;
    font-weight: 600;
  }
}
