.pageTitle {
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  margin-top: 40px;

  span {
    padding: 0 30px;
    text-transform: uppercase;
    display: inline-block;

    @include addSkewEffect(26px, $beige);
  }
}

.pageDescription {
  max-width: $maxContentNarrow;
  margin: 30px auto 50px;
  text-align: center;
  font-size: 14px;
}

.label {
  font-size: 14px;
}

.btn-primary {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  margin-top: 20px;
  padding: 12px 30px 10px;
  text-transform: uppercase;
  color: $white;
  background-color: $darkBlue;
  border-radius: 3px;
}

.btn-tertiary {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  margin-top: 20px;
  padding: 12px 30px 10px;
  text-transform: uppercase;
  color: $darkBlue;
  background-color: transparent;
  border: 1px solid $darkBlue;
  border-radius: 3px;

  @include defaultHover;
}

.btn-more {
  @include addSkewEffect(30px, $darkBlue);
  @include defaultHover;

  padding: 0 40px;
  display: inline-block;
  text-align: left;
  font-size: 12px;
  color: $white;
  background-color: $darkBlue;
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.contactAddress {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: normal;

  span {
    display: block;
  }

  a {
    text-decoration: none;
  }
}
