@import '../utils';

.filters {
  text-align: center;
}

.prices {
  margin-bottom: 30px;

  @include mediaFrom($tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.filterItem {
  cursor: pointer;
  padding: 4px 8px;
  margin: 5px;
  display: inline-block;
  font-size: 12px;
  border: 1px solid $darkBlue;
  border-radius: 3px;
  font-weight: 600;

  &.active {
    background-color: $beige;
  }
}

.noResults {
  text-align: center;
  padding: 40px;
  max-width: 600px;
  margin: 0 auto;
}

.cardsList {
  max-width: $maxContentNarrow;
  margin: 0 auto;
}
