@import '../utils';

.horse-keyInformation {
  @include mediaFrom($tablet) {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: $maxContentNarrow;

    .table {
      width: 280px;
      margin-left: 30px;
    }
  }

  .horse-image {
    flex-grow: 1;
  }
}

.action-items {
  text-align: center;
  padding-bottom: 30px;

  a {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.pedigree-wrapper {
  margin: 40px auto;
  max-width: $maxContentNarrow;

  .pedigree {
    margin: 0 auto;
    max-width: 100%;
    overflow-x: scroll;

    @include mediaFrom($tablet) {
      max-width: $maxContentNarrow;
      overflow-x: initial;
    }
  }

  .table-pedigree {
    display: flex;
    min-width: 600px;
  }

  .table-col {
    border-right: 1px solid $beige;
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;

    &:last-of-type {
      border-right: 0;
    }
  }

  .table-cell {
    padding: 10px;
    border-right: 0;
    border-bottom: 1px solid $beige;
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;

    &:last-of-type {
      border-bottom: 0;
    }

    @include mediaFrom($tablet) {
      padding-left: 20px;
    }
  }

  .label {
    text-transform: none;
  }
}

.video {
  margin: 40px auto;
  max-width: $maxContentNarrow;
}
