@import '../utils';

.filtersWrapper {
  max-width: $maxContentNarrow;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;

  @include mediaFrom($tablet) {
    display: flex;
    position: relative;
    text-align: left;
  }

  .availability {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;

    @include mediaFrom($tablet) {
      justify-content: flex-start;
      position: absolute;
      right: 0;
      top: 0;
      margin: 0;
      padding: 0;
    }

    label {
      position: relative;
      top: 1px;
    }
  }
}

.filters {
  .label {
    padding: 4px 8px 4px 0;
    font-size: 12px;
    margin: 5px;
    font-weight: bold;
    display: inline-block;
  }
}

.prices {
  @include mediaFrom($tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
}

.filterItem {
  cursor: pointer;
  padding: 4px 8px;
  margin: 5px;
  display: inline-block;
  font-size: 12px;
  border: 1px solid $darkBlue;
  border-radius: 3px;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out;

  &.active {
    background-color: $beige;

    &:hover {
      background-color: $beige;
    }
  }

  &:hover {
    background-color: transparentize($color: $beige, $amount: 0.5);
  }
}

.noResults {
  text-align: center;
  padding: 40px;
  max-width: 600px;
  margin: 0 auto;
}

.cardsList {
  max-width: $maxContentNarrow;
  margin: 0 auto;
}
