@import '../utils';

.mainHeader {
  position: absolute;
  border-bottom: 2px $beige solid;
  background-color: $white;
  z-index: $zIndexNav;
  left: 0;
  top: 0;
  right: 0;

  @include mediaFrom($desktop) {
    padding-top: 10px;
    border: none;
  }

  .mainHeader-content {
    @include mediaFrom($desktop) {
      display: flex;
      align-items: center;
      max-width: $maxContent;
      margin: 0 auto;
      position: relative;
      justify-content: space-between;
    }
  }

  .logo {
    padding: 10px $offset 3px;
    display: inline-block;

    @include mediaFrom($tablet) {
      padding-left: $offsetTablet;
      padding-right: $offsetTablet;
    }

    @include mediaFrom($desktop) {
      padding-top: 0;
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $darkBlue;

      @include default-hover;
    }
  }

  .companyName {
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    display: block;
    margin-left: 15px;

    @include mediaFrom($desktop) {
      @include sr-only;
    }
  }

  .mainNav {
    flex-grow: 1;

    @include mediaFrom($desktopXL) {
      margin-left: 30px;
    }
  }

  .links {
    visibility: hidden;
    position: fixed;
    background: $beige;
    top: 57px;
    left: 0;
    width: 100vw;
    height: calc(100vh - #{$navHeight});
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    padding: 20px $offset;

    @include mediaFrom($tablet) {
      padding-left: $offsetTablet;
      padding-right: $offsetTablet;
    }

    @include mediaFrom($desktop) {
      visibility: visible;
      position: relative;
      top: 5px;
      opacity: 1;
      background: transparent;
      width: auto;
      height: auto;
      padding-left: 0;
      padding-top: 10px;
    }
  }

  .links-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    @include mediaFrom($desktop) {
      display: flex;
      justify-content: space-between;
    }

    a {
      padding: 10px;
      display: block;
      text-decoration: none;
      border-bottom: 1px solid transparentize($darkBlue, 0.5);
      transition: border-color 0.3s ease-in-out;

      @include mediaFrom($tablet) {
        padding: 20px;
      }

      @include mediaFrom($desktop) {
        border-color: transparent;
        padding: 5px 5px 0;
        font-size: 14px;
        line-height: 24px;
      }

      @include mediaFrom($desktopXL) {
        text-transform: uppercase;
      }

      &:hover {
        border-color: transparentize($darkBlue, 0.5);
      }

      &.active {
        font-weight: 600;

        @include mediaFrom($desktop) {
          &:hover {
            border-color: transparent;
          }
        }
      }
    }
  }

  .navbarToggler {
    background: transparent;
    border: 0;
    width: 40px;
    height: 30px;
    padding: 5px;
    position: absolute;
    z-index: $zIndexNav + 1;
    top: 50%;
    transform: translateY(-50%);
    right: $offset;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      opacity 0.55s ease;

    @include mediaFrom($tablet) {
      right: $offsetTablet;
    }

    @include mediaFrom($desktop) {
      display: none;
    }
  }

  $barSpacing: 5px;

  .bar {
    display: block;
    width: 30px;
    height: 2px;
    border-radius: 1px;
    background: $darkBlue;
    position: absolute;
    left: 5px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease,
      width 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), left 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

    &:nth-child(2) {
      top: $barSpacing;
      transform-origin: 0% 0%;
    }

    &:nth-last-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    &:last-of-type {
      margin-bottom: 0;
      bottom: $barSpacing;
      transform-origin: 0% 100%;
    }
  }

  .navbarToggler[aria-expanded='true'] {
    .bar {
      opacity: 1;
      width: 26px;
      left: 11px;

      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:nth-last-child(2) {
        opacity: 0;
      }

      &:last-of-type {
        transform: rotate(-45deg);
      }
    }
  }

  .social {
    text-align: center;
    margin-top: 10px;

    a {
      display: inline-flex;
      align-items: center;
      text-decoration: none;
      padding: 10px 25px 10px 20px;
      font-weight: 600;
      border: 1px solid $darkBlue;
      width: 100%;
      justify-content: center;
      line-height: 22px;

      @include default-hover;
    }

    svg {
      height: 20px;
      margin-right: 10px;
      display: block;

      @include mediaFrom($tablet) {
        height: 16px;
        margin-right: 6px;
      }
    }
  }

  .languageSwitcher {
    color: $white;
    text-align: center;
    margin-top: 10px;

    @include mediaFrom($tablet) {
      margin-right: 10px;
    }

    a {
      background: $darkBlue;
      display: flex;
      text-decoration: none;
      padding: 10px 25px 10px 20px;
      width: 100%;
      font-weight: 400;
      line-height: 22px;
      border: 1px solid $darkBlue;
      justify-content: center;
      
      @include default-hover;
    }

    .icon {
      margin-right: 8px;
      display: inline-block;

      svg {
        height: 20px;
        display: block;
      }
    }
  }

  .additionalLinks {
    position: fixed;
    left: $offset;
    right: $offset;
    bottom: 40px;
    z-index: $zIndexNav;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    @include mediaFrom(560px) {
      display: flex;
      justify-content: space-between;

      > div {
        width: 48%;
        margin-top: 0;
      }
    }

    @include mediaFrom($tablet) {
      position: absolute;
      bottom: auto;
      top: 50%;
      transform: translateY(-50%);
      right: 100px;
      width: 400px;
      left: auto;
      justify-content: flex-end;
      visibility: visible;
      opacity: 1;

      > div {
        width: auto;
      }

      a {
        background: transparent;
        color: $darkBlue;
        font-weight: 600;
        font-size: 14px;
        border: none;
        padding: 5px;
      }
    }

    @include mediaFrom($desktop) {
      top: 0;
      right: $offsetTablet;
      transform: none;

      a {
        font-size: 12px;
      }
    }
  }
}

.mainHeader.navOpen {
  position: fixed;

  .links {
    visibility: visible;
    opacity: 1;
  }

  .additionalLinks {
    visibility: visible;
    opacity: 1;
  }
}
